{% extends "base.html" %}

{% block "title" %}Automobilis{% endblock %}

{% block "content" %}

{% load static %}
{% if automobilis.photo %}
<div class="card mb-4 shadow-sm" style="max-width: 15rem;">
    <img src="{{ automobilis.photo.url }}" class="img" alt="...">
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="img">
    {% endif %}
</div>



<div class="container">
<h3>{{ automobilis.vehicle_model }} {{ automobilis.plate }}</h3>
<ul>

    <li><strong>Automobilio savininkas:</strong> {{automobilis.owner_name}}</li>
    <li><strong>Automobilio modelis:</strong> {{automobilis.vehicle_model}} </li>
    <li><strong>Automobilio valstybinis numeris:</strong> {{automobilis.plate}}</li>
    <li><strong>Automobilio VIN kodas:</strong> {{automobilis.vin}}</li>
    {%if automobilis.description %}
    <li><strong>Automobilio aprašymas:</strong><p>{{ automobilis.description | safe }}</p></li>
    {% endif %}
</ul>

</div>
{% endblock %}