{% extends "base.html" %}

{% block "title" %}Mano užsakymai{% endblock %}

{% block "content" %}
<h3>Mano užsakymų sąrašas</h3>
<ul>
    {% for order in my_orders %}
    <li><a href="{% url 'order' order.id %}">{{order.vehicle}}</a> {{order.vehicle.owner_name}}, {{order.date}}
        {%if deadline_overdue %}<span class="text-danger">({{order.deadline}})</span></li>
        {%else %}<span class="text-success">({{order.deadline}})</span></li>
    {% endif %}
    {% endfor %}
</ul>


{% endblock %}