{% extends "base.html" %}

{% block "title" %}Užsakymai{% endblock %}

{% block "content" %}
<h3>Užsakymų sąrašas</h3>

<ul>
    {% for uzsakymas in uzsakymai %}
    <li><a href="{% url 'uzsakymas' uzsakymas.id %}">{{uzsakymas.vehicle}}</a> {{uzsakymas.vehicle.owner_name}},
        {{uzsakymas.date}}
        {%if uzsakymas.deadline_overdue %} <span class="text-danger">({{uzsakymas.deadline}})</span>
        {%else %} <span class="text-success">({{uzsakymas.deadline}})</span> {{ uzsakymas.client.username}}</li>


<!--        <div class="col">-->
<!--            <p class="fw-bold">{{ uzsakymas.client.username}}</p>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <img class="rounded-circle" src="{{uzsakymas.client.profile.photo.url}}">-->
<!--        </div>-->
        {% endif %}
         <hr>
        {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}