{% extends "base.html" %}

{% block "title" %}Užsakymo kūrimas/redagavimas{% endblock %}

{% block "content" %}

    <div class="content-section">
    <form method="POST">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Naujas užsakymas</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Pateikti</button>
        </div>
    </form>
    </div>



{% endblock %}