{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>{{ order.vehicle }} </h5>
        </div>
        <div class="col">
            <h5>{{ order.date }}</h5>
        </div>
        <div class="col">
            <h5>{{ order.vehicle.owner_name }}</h5>
        </div>
        <div class="col">
            <h5>{{ order.client}}</h5>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {%if order.client == user%}
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'order_update' order.id %}">Redaguoti</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order_delete' order.id %}">Ištrinti</a>
        <hr>
        {% endif %}
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <tr class="table-primary">
            <th>Paslauga</th>
            <th>Kaina</th>
            <th>Kiekis</th>
            <th>Suma</th>
            <th></th>
        </tr>
        {% for line in order.lines.all %}
        <tr class="table-light">
            <td>{{line.service}}</td>
            <td>{{ line.service.price }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{line.suma}}</td>
             {% if order.client == user %}
            <td>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'updateline' order.id line.id %}">Redaguoti</a>
            </td>
        {% endif %}
        </tr>
        {% endfor %}
        <tr class="table-light">
            <td><strong>Bendra suma:</strong></td>
            <td></td>
            <td></td>
            <td>{{order.total}}</td>
            <td></td>
        </tr>
    </table>
</div>


{% if order.client == user %}
<div class="container">
    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'newline' order.id %}">Pridėti eilutę</a>
</div>
{% endif %}
<br>

<div class="container">
    {% if user.is_authenticated %}
    <div class="fieldWrapper">
        <h4>Palikite atsiliepimą:</h4>
        <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}</br>
            <input type="submit" value="Paskelbti">
        </form>
    </div>
    {% endif %}
    {% if order.comments.all %}
    {% for comment in order.comments.all %}
    <hr>
    <strong>{{ comment.user }}</strong>, <em>{{ comment.date_created}}</em>
    <p>{{ comment.content }}</p>
    {% endfor %}
    {% else %}
    <p>Komentarų nėra</p>
    {% endif %}
</div>
{% endblock %}

