{% extends "base.html" %}

{% block "title" %}Užsakymo trynimas{% endblock %}


{% block "content" %}
    <div class="content-section">
    <form method="POST">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Ištrinti užsakyma</legend>
            <h2>Ar tikrai norite ištrinti užsakymą {{ uzsakymas }}?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Taip, ištrinti</button>
            <a class="btn btn-outline-secondary" href="{% url 'uzsakymas' uzsakymas.id %}">Atšaukti</a>
        </div>
    </form>
    </div>
{% endblock %}