{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>{{ uzsakymas.vehicle }} </h5>
        </div>
        <div class="col">
            <h5>{{ uzsakymas.date }}</h5>
        </div>
        <div class="col">
            <h5>{{ uzsakymas.vehicle.owner_name }}</h5>
        </div>
        <div class="col">
            <h5>{{ uzsakymas.client}}</h5>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <tr class="table-primary">
            <th>Paslauga</th>
            <th>Kaina</th>
            <th>Kiekis</th>
            <th>Suma</th>
        </tr>
        {% for line in uzsakymas.lines.all %}
        <tr class="table-light">
            <td>{{line.service}}</td>
            <td>{{ line.service.price }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{line.suma}}</td>
        </tr>
        {% endfor %}
        <tr class="table-light">
            <td><strong>Bendra suma:</strong></td>
            <td></td>
            <td></td>
            <td>{{uzsakymas.total}}</td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {%if uzsakymas.client == user%}
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'order_update' uzsakymas.id %}">Redaguoti</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order_delete' uzsakymas.id %}">Ištrinti</a>
        <hr>
    </div>
</div>
{% endif %}

<div class="container">
    {% if user.is_authenticated %}
    <div class="fieldWrapper">
        <h4>Palikite atsiliepimą:</h4>
        <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}</br>
            <input type="submit" value="Paskelbti">
        </form>
    </div>
    {% endif %}
    {% if uzsakymas.comments.all %}
    {% for comment in uzsakymas.comments.all %}
    <hr>
    <strong>{{ comment.user }}</strong>, <em>{{ comment.date_created}}</em>
    <p>{{ comment.content }}</p>
    {% endfor %}
    {% else %}
    <p>Komentarų nėra</p>
    {% endif %}
</div>
{% endblock %}

