{% extends "base.html" %}

{% block "title" %}Užsakymai{% endblock %}

{% block "content" %}
<h3>Užsakymų sąrašas</h3>

<ul>
    {% for order in orders %}
    <li><a href="{% url 'order' order.id %}">{{order.vehicle}}</a> {{order.vehicle.owner_name}},
        {{order.date}}
        {%if order.deadline_overdue %} <span class="text-danger">({{order.deadline}})</span>
        {%else %} <span class="text-success">({{order.deadline}})</span> {{ order.client.username}}</li>

        {% endif %}
         <hr>
        {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}