{% extends "base.html" %}

{% block title %}Užsakymas{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ uzsakymas.vehicle }} {{ uzsakymas.date }}</h3>
    {% for line in uzsakymas.lines.all %}

    <p>Paslauga: {{ line.service }} Kaina: {{ line.service.price }} Kiekis: {{ line.quantity }}</p>
    <p> </p>
    <!--      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">-->
    <!--        {{ copy.get_status_display }}-->
    <!--      </p>-->
    <!--      {% if copy.status != 'a' %}-->
    <!--        <p><strong>Bus grąžinta:</strong> {{ copy.due_back }}</p>-->
    <!--      {% endif %}-->
    <!--      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>-->
    {% endfor %}
    <hr>
</div>
{% endblock %}