{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>{{ uzsakymas.vehicle }} </h5>
        </div>
        <div class="col">
            <h5>{{ uzsakymas.date }}</h5>
        </div>
        <div class="col">
            <h5>{{ uzsakymas.vehicle.owner_name }}</h5>
        </div>
        <div class="col">
            <h5>{{ uzsakymas.client}}</h5>
        </div>
    </div>
    <table class="table table-striped">
        <tr class="table-primary">
            <th>Paslauga</th>
            <th>Kaina</th>
            <th>Kiekis</th>
            <th>Suma</th>
        </tr>
        {% for line in uzsakymas.lines.all %}
        <tr class="table-light">
            <td>{{line.service}}</td>
            <td>{{ line.service.price }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{line.suma}}</td>
        </tr>

        {% endfor %}
        <tr class="table-light">
            <td><strong>Bendra suma:</strong></td>
            <td></td>
            <td></td>
            <td>{{uzsakymas.total}}</td>
        </tr>
    </table>

</div>
</br>


<h4>Komentarai:</h4>
{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr>
    <br/>
    <h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}</br>
        <input type="submit" value="Paskelbti">
    </form>
</div>
{% endif %}

{% if uzsakymas.comments.all %}
{% for comment in uzsakymas.comments.all %}
<hr>
<strong>{{ comment.user }}</strong>, <em>{{ comment.date_created}}</em>
<p>{{ comment.content }}</p>
{% endfor %}
{% else %}
<p>Komentarų nėra</p>
{% endif %}


{% endblock %}

