{% extends "base.html" %}

{% block "title" %}Automobilis{% endblock %}

{% block "content" %}

{% load static %}
{% if vehicle.photo %}
<div class="card mb-4 shadow-sm" style="max-width: 15rem;">
    <img src="{{ vehicle.photo.url }}" class="img" alt="...">
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="img">
    {% endif %}
</div>



<div class="container">
<h3>{{ vehicle.vehicle_model }} {{ vehicle.plate }}</h3>
<ul>

    <li><strong>Automobilio savininkas:</strong> {{vehicle.owner_name}}</li>
    <li><strong>Automobilio modelis:</strong> {{vehicle.vehicle_model}} </li>
    <li><strong>Automobilio valstybinis numeris:</strong> {{vehicle.plate}}</li>
    <li><strong>Automobilio VIN kodas:</strong> {{vehicle.vin}}</li>
    {%if vehicle.description %}
    <li><strong>Automobilio aprašymas:</strong><p>{{ vehicle.description | safe }}</p></li>
    {% endif %}
</ul>

</div>
{% endblock %}